@import "../../../_global.scss";

nav {
    z-index: 1;

    .hidden {
        visibility: hidden;
    }

    .nav-images {
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;

        .logo {
            display: inline-block;

            img {
                width: auto;
                height: 40px;
            }
        }

        .icon {

            img {
                width: 40px;
                height: auto;
            }
        }
    }


    .nav-menu {
        background-color: $background-color;
        height: calc(100% - 65px);
        width: 100%;
        position: absolute;
        top: 65px;

        ul {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        li {
            text-align: center;
            border-bottom: none;
            font-size: x-large;
            padding: 10px;
        }
    }
}

