@import "../../_global.scss";

.word-container {
    padding: 1.3rem;
    max-width: 500px;
    margin: 1.2rem auto;
    box-sizing: border-box;
}

@media only screen and (min-width: 601px) {
    .word-container {
        border: 3px solid $brown-color;
    }
}

.word-name {
    margin: .7rem 0;
}

.meaning-container {
    margin: 2rem 0;
    padding-left: 1.3rem;
}

.meaning-description {
    text-indent: .7rem;
}

.meaning-description::first-letter {
    text-transform: capitalize;
}

.meaning-synonyms, .meaning-related {
    margin: 1.3rem 0;
}

.meaning-type {
    margin: .3rem 0;
    font-size: .8rem;
}

.meaning-scientific {
    margin: .3rem 0;
    font-style: italic;
    font-size: .8rem;
}

.meaning-description {
    margin: .3rem 0;
}
